:root {
  /* Simplify font size calculations: 1rem = 10px on browser default 16px font-size.  */
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  gap: 20px;

  height: 100%;
  width: 100%;

  background: #fbeee0;
  background: linear-gradient(
    0deg,
    rgba(251, 238, 224, 1) 0%,
    rgba(255, 255, 255, 1) 51%,
    rgba(251, 238, 224, 1) 100%
  );
}

header {
  font-size: 2.4rem;
  padding: 0.4rem;
  font-weight: bold;
}

footer {
  font-size: 1.2rem;
  padding: 0.4rem;
  font-weight: bold;
}

.game-board {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  gap: 20px;
}

.game-card .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card,
button {
  font-size: 1.8rem;
  font-weight: bold;
}

.button-container button {
  margin: 10px;
  width: 100px;
  height: 60px;
}

.game-card .img-container img {
  width: 150px;
}

.game-card .dir-container p {
  text-align: center;
}

button,
.game-card,
.game-board {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
}

.game-card {
  background-color: rgb(250, 250, 250);
}

header,
footer {
  background-color: #422800;
  color: #fbeee0;
}

header {
  border-bottom: 10px solid #fbeee0;
}

footer {
  border-top: 10px solid #fbeee0;
}

.correct {
  background-color: rgb(128, 241, 128);
}

.incorrect {
  background-color: rgb(241, 128, 128);
}

/* more button stuff */

button {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.disabled,
button:hover.disabled {
  background-color: darkgrey;
}
